/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Feb 12, 2017, 12:06:58 PM
    Author     : FERNANDO
*/

body{
    /*background-color: #555;*/
}
.titulo_demo{
    color:white;
    width: 40%;
}
#carousel-example-generic{
    margin-top: -20px;
}
#navMenu{
    background: #101010;
}
/*******************INICIO FOOTER****************/
footer{
    background:#333;
    color: #fefefe;
    width: 100%;
    margin-top: 20px;
}
/*
footer{
    margin-top: -4px;
    background:#333;
    width: 100%;
    height: 120px;
}
footer p{    
    float: left;
    font-weight: bold;
    color:white;
    font-size: 13px;
    margin-left: 4px;
}
footer ul{
    float: right;
}
footer ul li{
    float: left;
    list-style: none;
}
footer ul li a{
    text-decoration: none;
    color: white;
    padding-right: 8px;
    
    font-size: 13px;
}
footer div ul li span{
    margin-right: 5px;
}
*/
/*******************FIN FOOTER****************/
/*
.imgCarousel{
    height: 100%;
    width: 100%;
}


.carousel, .carousel-inner > .item > img {
  height: 100%;
}
*/
#navMenu{
    margin-top: 120px;
}
.vistaDashboard{
  
    
}
.imgDashboard{
    height: 130px;
}
#dashboard{
    margin-top: 100px;
}
.noLineaEnlace{
    text-decoration: none;
}
.imgSocial{
    margin-top: 15px;
    height: 35px;
}
.listaLinea{
    display: inline;
    list-style: none;
    margin-right: 15px;
}
.titulo{
    font-weight: 400;
    text-transform: uppercase;
    font-family: Raleway, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 12px;
    line-height: 24px;
    font-weight: 700;
    letter-spacing: 2px;
    margin-bottom: 12px;
}
.miniTwitter{
    height: 18px;
}
.imgCoorp{
    height: 85px;
    border-radius: 50px;
    margin-top: -6px;
}
.contactoBloque{
    margin-top: 45px;
    margin-bottom: 35px;
}
#abajo{
  display: inline-block;
  width: 200px;
  padding: 8px;
  color: #fff;
  border: 1px solid #fff;
  text-align: center;
  outline: none;
  text-decoration: none;
  
  margin-bottom: 25px;
}

#abajo:hover,
#abajo:active {
 background-color: #fff; /* fallback */
  background-color: rgba(255, 255, 255, 0.4);
  border-color: #fff; /* fallback */
  border-color: rgba(255, 255, 255, 0.4);
  transition: background-color 0.3s ease-in,
              border-color 0.3s ease-in;
  
}

.btnFant{
    width: 100%;
    text-align: center;
    margin-top: 35px;
}
#productos{
    background: #eee;
    padding-bottom: 45px;
    padding-top: 10px;
    padding-left: 15px;
    padding-right: 15px;
}