/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Feb 12, 2017, 12:06:58 PM
    Author     : FERNANDO
*/

body{
    background-color: #555;
}
.titulo_demo{
    color:white;
    width: 40%;
}

/*******************INICIO FOOTER****************/
footer{
    margin-top: -4px;
    background:#333;
    width: 100%;
    height: 120px;
}
footer p{    
    float: left;
    font-weight: bold;
    font-size: 13px;
    margin-left: 4px;
}
footer ul{
    float: right;
}
footer ul li{
    float: left;
    list-style: none;
}
footer ul li a{
    text-decoration: none;
    color: #1bb7aa;
    padding-right: 8px;
    
    font-size: 13px;
}
footer div ul li span{
    margin-right: 5px;
}
/*******************FIN FOOTER****************/